@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Commissioner:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: hsl(229, 35%, 7%);
}

h1 {
  font-family: "Bellefair", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

h2 {
  font-family: "Bellefair", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

p {
  font-family: "Barlow", sans-serif;
  color: hsl(231, 77%, 90%);
  font-size: 18px;
}


/*** DEFAULT: LAPTOPS AND DESKTOPS FROM 1440PX TO 1599PX ***/

/* HEADER START */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0 40px 55px;
}

.logo {
  z-index: 1;
}

.nav-button {
  display: none;
}

.header-inner {
  width: 92%;
  display: flex;
  align-items: center;
}

.header-inner hr {
  width: 37.15%;
  height: 1px;
  margin-right: -30px;
  margin-left: 0;
  background-color: hsl(0, 0%, 100%, 0.35);
  border: none;
  z-index: 2;
}

.nav-box {
  width: 65.2%;
  min-width: 680px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%, 0.05);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

nav a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  letter-spacing: 2.7px;
  text-decoration: none;
  line-height: 1;
  padding-bottom: 37px;
  padding-top: 37px;
  border-top: 3px solid hsl(0, 0%, 100%, 0);
  border-bottom: 3px solid hsl(0, 0%, 100%, 0);
  transition: border-bottom 0.2s;
}

nav a:hover {
  border-bottom: 3px solid hsl(0, 0%, 100%, 0.5);
}

nav a.active {
  border-bottom: 3px solid hsl(0, 0%, 100%);
}

nav a > span {
  font-size: 16px;
  font-weight: 700;
}
/* HEADER END */


/* HOME PAGE START */
.home-container,
.dest-container,
.crew-container,
.tech-container {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.home-container.active,
.dest-container.active,
.crew-container.active,
.tech-container.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}

.home-container {
  background-image: url("./images/home/background-home-desktop.jpg");
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 11.5%;
  padding-right: 11.5%;
  padding-bottom: 14.5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.home-content h3 {
  color: hsl(231, 79%, 90%);
  font-size: 28px;
  letter-spacing: 4.5px;
  line-height: 1;
  margin: 0;
}

.home-content h1 {
  font-size: 150px;
  margin-top: 30px;
  margin-bottom: 45px;
  line-height: 1;
}

.home-content p {
  line-height: 32px;
  margin: 0;
}

.home-btn {
  width: 274px;
  height: 274px;
  border: none;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  font-family: "Bellefair", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  box-shadow: 0 0 0 0px hsl(0, 0%, 100%, 0);
  transition: box-shadow 0.6s;
  cursor: pointer;
}

.home-btn:hover {
  box-shadow: 0 0 3px 80px hsl(0, 0%, 100%, 0.1);
}
/* HOME PAGE END */


/* DESTINATION PAGE START */
.dest-container {
  background-image: url("./images/destination/background-destination-desktop.jpg");
  padding-left: 11.5%;
  padding-right: 11.5%;
  padding-bottom: 13vh;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.dest-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.dest-title h3,
.crew-title h3,
.tech-title h3 {
  font-size: 28px;
  letter-spacing: 4.5px;
  margin: 0;
}

.dest-title h3 > span,
.crew-title h3 > span,
.tech-title h3 > span {
  font-weight: 700;
  color: hsl(0, 0%, 100%, 0.25);
  margin-right: 28px;
}

.dest-content-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.dest-img {
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.75s;
}

.dest-img img {
  animation: rotation 90s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dest-text {
  display: flex;
  flex-direction: column;
  width: 445px;
}

.dest-tabs {
  display: flex;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.dest-tabs li {
  margin-right: 35px;
  cursor: pointer;
}

.dest-tabs li > a {
  text-decoration: none;
  color: hsl(231, 77%, 90%);
  padding-bottom: 12px;
  letter-spacing: 2.7px;
  border-top: 3px solid hsl(0, 0%, 100%, 0);
  border-bottom: 3px solid hsl(0, 0%, 100%, 0);
  transition: border-bottom 0.2s, color 0.2s;
}

.dest-tabs li > a:hover {
  border-bottom: 3px solid hsl(0, 0%, 100%, 0.5);
}

.dest-tabs li > a.active {
  color: hsl(0, 0%, 100%);
  border-bottom: 3px solid hsl(0, 0%, 100%);
}

.dest-text h1 {
  font-size: 100px;
  margin-top: 45px;
  margin-bottom: 15px;
  transition: opacity 0.75s;
}

.dest-text p {
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 54px;
  transition: opacity 0.75s;
}

.dest-text hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: hsl(231, 15%, 26%);
  border: none;
  z-index: 1;
}

.dest-text div {
  display: flex;
  transition: opacity 0.75s;
}

.dest-distance,
.dest-travel-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dest-distance {
  margin-right: 80px;
}

.dest-distance p,
.dest-travel-time p {
  margin-top: 28px;
  margin-bottom: 12px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.4px;
}

.dest-distance h2,
.dest-travel-time h2 {
  margin: 0;
  font-size: 28px;
}
/* DESTINATION PAGE END */


/* CREW PAGE START */
.crew-container {
  background-image: url("./images/crew/background-crew-desktop.jpg");
  padding-left: 11.5%;
  padding-right: 11.5%;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.crew-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.crew-text-content {
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.crew-title h3 {
  margin-bottom: 154px;
}

.crew-img-mobile,
.crew-tabs-mobile {
  display: none;
}

.crew-text h2 {
  font-size: 32px;
  color: hsl(0, 0%, 100%, 0.5);
  margin-top: 0;
  margin-bottom: 15px;
  transition: opacity 0.75s;
}

.crew-text h1 {
  font-size: 56px;
  margin-top: 0;
  margin-bottom: 25px;
  transition: opacity 0.75s;
}

.crew-text p {
  line-height: 32px;
  margin: 0;
  width: 445px;
  transition: opacity 0.75s;
}

.crew-tabs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.crew-tabs li,
.crew-tabs li > a > div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%, 0.17);
  transition: background-color 0.1s;
}

.crew-tabs li > a > div:hover {
  background-color: hsl(0, 0%, 100%, 0.5);
}

.crew-tabs li > a.active > div {
  background-color: hsl(0, 0%, 100%);
}

.crew-img {
  max-width: 550px;
  transition: opacity 0.75s;
}

.crew-img img {
  width: 100%;
}
/* CREW PAGE END */


/* TECHNOLOGY PAGE START */
.tech-container {
  background-image: url("./images/technology/background-technology-desktop.jpg");
  padding-left: 11.5%;
  padding-right: 3.5%;
  padding-bottom: 11vh;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.tech-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.tech-content-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.tech-text-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  margin-bottom: 5%;
  margin-right: auto;
}

.tech-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  font-family: "Bellefair", sans-serif;
  font-size: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tech-tabs li,
.tech-tabs li > a > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%, 0.25);
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s, border-color 0.2s;
}

.tech-tabs li > a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  transition: color 0.2s;
  width: 100%;
}

.tech-tabs li > a > div:hover {
  border-color: hsl(0, 0%, 100%);
}

.tech-tabs li > a.active > div {
  color: hsl(230, 35%, 7%);
  background-color: hsl(0, 0%, 100%);
}

.tech-text {
  width: 475px;
}

.tech-text h3 {
  color: hsl(231, 77%, 90%);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 12px;
  letter-spacing: 2.7px;
}

.tech-text h1 {
  font-size: 56px;
  margin-top: 0;
  margin-bottom: 18px;
  transition: opacity 0.75s;
}

.tech-text p {
  min-width: 445px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  transition: opacity 0.75s;
}

.tech-img {
  transition: opacity 0.75s;
}

.tech-img #imgTablet {
  display: none;
  transition: opacity 0.75s;
}
/* TECHNOLOGY PAGE START */


/* PAGE NOT FOUND */
.error-msg {
  padding: 50px 25px;
}

.error-msg span,
.error-msg p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  font-style: italic;
  margin: 0 0 20px;
  color: hsl(0, 0%, 100%);
}

.error-msg span {
  font-size: 34px;
  margin: 0;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
}

.error-msg a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: hsl(231, 77%, 90%);
}


/*** SMALL DEVICES ***/

/* (LESS THAN 576PX) */
@media (max-width: 575px) {
  .header {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
  }

  .logo {
    width: 40px;
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .nav-button {
    display: block;
    position: absolute;
    top: 33px;
    right: 24px;
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.25s;
    z-index: 3;
  }

  .nav-button.close {
    right: 26px;
  }

  .nav-button.active {
    pointer-events: all;
    transform: scale(1);
  }

  .header-inner {
    flex-direction: column;
    align-items: flex-end;
  }

  .header-inner hr {
    display: none;
  }

  .nav-box {
    min-width: 0;
    width: 0;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 118px 32px;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .nav-box.active {
    width: 67.7%;
    opacity: 1;
    z-index: 2;
  }

  .nav-box nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .nav-box.active nav {
    opacity: 1;
  }

  nav a {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  nav a.hidden {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  nav a.visible {
    opacity: 1;
  }

  .home-container {
    background-image: url("./images/home/background-home-mobile.jpg");
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16.8vh 6.4% 0;
  }

  .home-content {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-width: 325px;
    width: 100%;
  }

  .home-content h3 {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  .home-content h1 {
    font-size: 80px;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 100px;
  }

  .home-content p,
  .dest-text p,
  .crew-text p,
  .tech-text p {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    margin-bottom: 50px;
  }

  .home-content p {
    margin: 0;
  }

  .home-btn {
    width: 150px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1.25px;
    margin-top: auto;
    margin-bottom: 20%;
  }

  .home-btn:hover {
    box-shadow: 0 0 3px 45px hsl(0, 0%, 100%, 0.1);
  }

  .dest-container {
    background-image: url("./images/destination/background-destination-mobile.jpg");
    padding: 10.4vh 6.4% 0;
  }

  .dest-inner {
    align-items: center;
    overflow-y: auto;
    padding-bottom: 6.8vh;
    height: fit-content;
  }

  .dest-title h3,
  .crew-title h3,
  .tech-title h3 {
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-bottom: 32px;
  }

  .dest-title h3 > span,
  .crew-title h3 > span,
  .tech-title h3 > span {
    margin-right: 16px;
  }

  .dest-content-box {
    flex-direction: column;
    align-items: center;
  }

  .dest-img {
    width: 45.3%;
  }

  .dest-img img {
    width: 100%;
  }

  .dest-text {
    text-align: center;
    width: 100%;
  }

  .dest-tabs {
    justify-content: space-between;
    gap: 26px;
    margin: 26px auto 0;
  }

  .dest-tabs li {
    margin-right: 0px;
  }

  .dest-tabs li > a {
    padding-bottom: 8px;
    letter-spacing: 2.4px;
    font-size: 14px;
  }

  .dest-text h1 {
    font-size: 56px;
    margin-top: 28px;
    margin-bottom: 1px;
  }

  .dest-text p {
    margin-bottom: 32px;
  }

  .dest-text div {
    flex-direction: column;
    align-items: center;
  }

  .dest-distance,
  .dest-travel-time {
    align-items: center;
    margin-top: 32px;
  }

  .dest-distance {
    margin-right: 0px;
  }

  .dest-travel-time {
    margin-bottom: 50px;
  }

  .dest-distance p,
  .dest-travel-time p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .crew-container {
    background-image: url("./images/crew/background-crew-mobile.jpg");
    padding: 10.4vh 6.4% 0;
  }

  .crew-inner {
    justify-content: center;
    align-items: flex-start;
  }

  .crew-text-content {
    justify-content: flex-start;
    padding-bottom: 0px;
  }

  .crew-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .crew-img-mobile {
    display: block;
    width: 100%;
    height: 224px;
    border-bottom: 1px solid hsl(231, 15%, 26%);
    transition: opacity 0.75s;
  }

  .crew-img-mobile img {
    height: 100%;
  }

  .crew-tabs-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    margin: 32px auto;
  }

  .crew-tabs-mobile li,
  .crew-tabs-mobile li > a > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(0, 0%, 100%, 0.17);
    transition: background-color 0.1s;
  }

  .crew-tabs-mobile li > a > div:hover {
    background-color: hsl(0, 0%, 100%, 0.5);
  }

  .crew-tabs-mobile li > a.active > div {
    background-color: hsl(0, 0%, 100%);
  }

  .crew-text h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .crew-text h1,
  .tech-text h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .crew-tabs,
  .crew-img {
    display: none;
  }

  .tech-container {
    background-image: url("./images/technology/background-technology-mobile.jpg");
    padding: 10.4vh 0 0;
  }

  .tech-inner {
    align-items: center;
    justify-content: flex-start;
  }

  .tech-content-box {
    flex-direction: column;
  }

  .tech-text-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    margin-bottom: 0%;
    margin-right: 0%;
    order: 1;
  }

  .tech-tabs {
    flex-direction: row;
    gap: 16px;
    font-size: 16px;
    margin: 34px auto 26px;
  }

  .tech-tabs li,
  .tech-tabs li > a > div {
    width: 40px;
    height: 40px;
  }

  .tech-text {
    width: 100%;
    padding-left: 6.4%;
    padding-right: 6.4%;
    text-align: center;
  }

  .tech-text h3 {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 2.4px;
  }

  .tech-text h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .tech-text p {
    min-width: 280px;
  }

  .tech-img #imgDesktop {
    display: none;
  }

  .tech-img #imgTablet {
    display: block;
    width: 100%;
  }
}


/*** MEDIUM DEVICES ***/

/* (FROM 576PX TO 992PX) */
@media (min-width: 576px) and (max-width: 991px) {
  .header {
    padding: 0 0 20px 40px;
  }

  .header-inner {
    justify-content: flex-end;
  }

  .header-inner hr {
    display: none;
  }

  .nav-box {
    min-width: 450px;
    max-width: 500px;
  }

  nav {
    gap: 38px;
  }

  nav a {
    font-size: 14px;
    letter-spacing: 2.4px;
    padding-bottom: 38px;
    padding-top: 38px;
  }

  nav a > span {
    display: none;
  }

  .home-container {
    background-image: url("./images/home/background-home-tablet.jpg");
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 156px;
    padding-bottom: 8.8vh;
  }

  .home-content {
    text-align: center;
  }

  .home-content h3 {
    font-size: 20px;
    letter-spacing: 3.4px;
  }

  .home-content h1 {
    font-size: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .home-content p,
  .dest-text p,
  .crew-text p,
  .tech-text p {
    font-size: 16px;
    line-height: 28px;
  }

  .home-content p {
    width: 445px;
  }

  .home-btn {
    width: 242px;
    height: 242px;
  }

  .dest-container {
    background-image: url("./images/destination/background-destination-tablet.jpg");
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 6vh;
    padding-top: 136px;
  }

  .dest-inner {
    justify-content: flex-start;
    height: fit-content;
  }

  .dest-title h3,
  .crew-title h3,
  .tech-title h3 {
    font-size: 20px;
    letter-spacing: 3.4px;
    margin-bottom: 60px;
    text-align: start;
  }

  .dest-title h3 > span,
  .crew-title h3 > span,
  .tech-title h3 > span {
    margin-right: 20px;
  }

  .dest-content-box {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
  }

  .dest-img {
    width: 43.4%;
  }

  .dest-img img {
    width: 100%;
  }

  .dest-text {
    width: 572px;
    text-align: center;
  }

  .dest-tabs {
    justify-content: center;
    width: 100%;
  }

  .dest-text h1 {
    font-size: 80px;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .dest-text p {
    margin-bottom: 50px;
  }

  .dest-text div {
    justify-content: center;
  }

  .dest-distance,
  .dest-travel-time {
    align-items: center;
    text-align: center;
  }

  .dest-distance p,
  .dest-travel-time p {
    margin-top: 28px;
    margin-bottom: 12px;
  }

  .crew-container {
    background-image: url("./images/crew/background-crew-tablet.jpg");
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 136px;
  }

  .crew-inner {
    flex-direction: column;
    gap: 40px;
  }

  .crew-text-content {
    padding-bottom: 0;
    height: fit-content;
    text-align: center;
    width: 100%;
  }

  .crew-text h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .crew-text h1 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .crew-text p {
    max-width: 590px;
    width: fit-content;
    height: 84px;
    margin: 0 auto 40px;
  }

  .crew-tabs {
    justify-content: center;
    width: 100%;
  }

  .crew-tabs li,
  .crew-tabs li > a > div {
    width: 10px;
    height: 10px;
    margin-right: 16px;
  }

  .crew-img {
    min-height: 532px;
    max-height: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
  }

  .crew-img img {
    height: 100%;
  }

  .tech-container {
    background-image: url("./images/technology/background-technology-tablet.jpg");
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 9.5vh;
    padding-top: 136px;
  }

  .tech-inner {
    justify-content: flex-start;
    height: fit-content;
  }

  .tech-title {
    width: 100%;
  }

  .tech-title h3 {
    margin-left: 5%;
  }

  .tech-content-box {
    flex-direction: column;
    justify-content: space-between;
    gap: 56px;
    text-align: center;
  }

  .tech-text-content {
    order: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  .tech-tabs {
    flex-direction: row;
    gap: 16px;
    width: fit-content;
    font-size: 24px;
  }

  .tech-tabs li,
  .tech-tabs li > a > div {
    width: 60px;
    height: 60px;
  }

  .tech-text {
    width: 458px;
  }

  .tech-text h3 {
    margin-top: 44px;
    margin-bottom: 16px;
  }

  .tech-text h1 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .tech-img {
    width: 100%;
  }

  .tech-img #imgDesktop {
    display: none;
  }

  .tech-img #imgTablet {
    display: block;
    width: 100%;
  }
}


/* (FROM 992PX TO 1200PX) */
@media (min-width: 992px) and (max-width: 1199px) {
  nav a,
  nav a > span {
    font-size: 14px;
  }

  .home-container,
  .dest-container,
  .crew-container,
  .tech-container {
    padding-left: 9%;
    padding-right: 9%;
  }

  .home-container {
    padding-bottom: 16vh;
  }

  .home-content {
    width: 420px;
  }

  .home-content h3 {
    font-size: 22px;
  }

  .home-content h1 {
    font-size: 115px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .home-content p,
  .dest-text p,
  .crew-text p,
  .tech-text p {
    font-size: 16px;
    line-height: 28px;
  }

  .home-btn {
    width: 230px;
    height: 230px;
    font-size: 26px;
  }

  .home-btn:hover {
    box-shadow: 0 0 3px 60px hsl(0, 0%, 100%, 0.1);
  }

  .dest-container {
    padding-bottom: 15.5vh;
  }

  .dest-inner {
    height: fit-content;
  }

  .dest-title h3,
  .crew-title h3,
  .tech-title h3 {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .dest-img {
    max-width: 350px;
  }

  .dest-img img {
    width: 100%;
  }

  .dest-text {
    width: 400px;
  }

  .dest-tabs li {
    margin-right: 25px;
  }

  .dest-tabs li > a {
    font-size: 14px;
    padding-bottom: 6px;
  }

  .dest-text h1 {
    font-size: 65px;
    margin-top: 30px;
    margin-bottom: 7px;
  }

  .dest-text p {
    margin-bottom: 35px;
  }

  .dest-distance p,
  .dest-travel-time p {
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 6px;
  }

  .dest-distance h2,
  .dest-travel-time h2 {
    font-size: 24px;
  }

  .crew-container {
    padding-right: 2%;
  }

  .crew-title h3 {
    margin-bottom: 124px;
  }

  .crew-text h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .crew-text h1,
  .tech-text h1 {
    font-size: 44px;
  }

  .crew-text p {
    width: 400px;
  }

  .crew-tabs li,
  .crew-tabs li > a > div {
    width: 16px;
    height: 16px;
    margin-right: 18px;
  }

  .crew-img {
    max-width: 400px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .tech-container {
    padding-right: 2.5%;
    padding-bottom: 0;
  }

  .tech-inner {
    height: fit-content;
  }

  .tech-content-box {
    max-width: 100%;
  }

  .tech-text-content {
    margin-right: 7%;
    gap: 40px;
  }

  .tech-tabs {
    gap: 26px;
    font-size: 26px;
  }

  .tech-tabs li,
  .tech-tabs li > a > div {
    width: 60px;
    height: 60px;
  }

  .tech-text {
    width: 420px;
  }

  .tech-text p {
    min-width: 420px;
  }

  .tech-img {
    max-width: 420px;
  }

  .tech-img img {
    width: 100%;
  }
}


/*** LARGE DEVICES ***/

/* (FROM 1200PX TO 1440PX) */
@media (min-width: 1200px) and (max-width: 1439px) {
  .home-content {
    width: 420px;
  }

  .home-content h3 {
    font-size: 26px;
  }

  .home-content h1 {
    font-size: 130px;
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .home-content p,
  .dest-text p,
  .crew-text p,
  .tech-text p {
    font-size: 16px;
    line-height: 30px;
  }

  .home-btn {
    width: 250px;
    height: 250px;
    font-size: 28px;
  }

  .home-btn:hover {
    box-shadow: 0 0 3px 68px hsl(0, 0%, 100%, 0.1);
  }

  .dest-inner,
  .tech-inner {
    height: fit-content;
  }

  .dest-title h3,
  .tech-title h3 {
    font-size: 26px;
    margin-bottom: 60px;
  }

  .dest-img {
    max-width: 400px;
  }

  .dest-img img {
    width: 100%;
  }

  .dest-text {
    width: 400px;
  }

  .dest-tabs li {
    margin-right: 30px;
  }

  .dest-tabs li > a {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .dest-text h1 {
    font-size: 80px;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .dest-text p {
    margin-bottom: 40px;
  }

  .dest-distance p,
  .dest-travel-time p {
    margin-top: 24px;
    margin-bottom: 6px;
  }

  .dest-distance h2,
  .dest-travel-time h2 {
    font-size: 26px;
  }

  .crew-container {
    padding-right: 5%;
  }

  .crew-title h3 {
    font-size: 26px;
    margin-bottom: 124px;
  }

  .crew-text {
    width: 570px;
  }

  .crew-text h2 {
    font-size: 28px;
  }

  .crew-text h1,
  .tech-text h1 {
    font-size: 52px;
  }

  .crew-text p {
    width: 400px;
  }

  .crew-img {
    max-width: 480px;
    max-height: 550px;
  }

  .tech-container {
    padding-bottom: 0;
  }

  .tech-content-box {
    max-width: 100%;
  }

  .tech-text-content {
    margin-right: 5%;
    gap: 60px;
  }

  .tech-tabs {
    gap: 28px;
    font-size: 28px;
  }

  .tech-tabs li,
  .tech-tabs li > a > div {
    width: 70px;
    height: 70px;
  }

  .tech-img {
    max-width: 450px;
  }

  .tech-img img {
    width: 100%;
  }
}


/* (1600PX AND UP) */
@media (min-width: 1600px) {
  nav a,
  nav a > span {
    font-size: 18px;
  }

  .home-container,
  .dest-container,
  .crew-container,
  .tech-container {
    padding-left: 15.5%;
    padding-right: 15.5%;
  }

  .home-container {
    padding-bottom: 16vh;
  }

  .dest-inner {
    height: fit-content;
  }

  .dest-title h3,
  .tech-title h3 {
    margin-bottom: 40px;
  }

  .dest-content-box {
    width: 95%;
  }

  .dest-distance p,
  .dest-travel-time p {
    font-size: 16px;
  }

  .tech-container {
    padding-right: 5%;
  }

  .tech-inner {
    height: fit-content;
  }

  .tech-content-box {
    max-width: 100%;
  }

  .tech-text-content {
    margin-right: 9.5%;
  }
}