@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Commissioner:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.home-container,
.dest-container {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0 40px 55px;
}

.header img {
  z-index: 1;
}

.header-inner {
  width: 92%;
  display: flex;
  align-items: center;
}

.header-inner hr {
  width: 37.15%;
  height: 1px;
  margin-right: -30px;
  margin-left: 0;
  background-color: hsl(0, 0%, 100%, 0.2);
  border: none;
  z-index: 1;
}

.nav-box {
  width: 65.2%;
  min-width: 680px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%, 0.05);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

nav a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  letter-spacing: 2.7px;
  text-decoration: none;
  line-height: 1;
  padding-bottom: 37px;
  padding-top: 37px;
  border-top: 3px solid hsl(0, 0%, 100%, 0);
  border-bottom: 3px solid hsl(0, 0%, 100%, 0);
  transition: border-bottom 0.2s;
}

nav a:hover {
  border-bottom: 3px solid hsl(0, 0%, 100%, 0.5);
}

nav a.active {
  border-bottom: 3px solid hsl(0, 0%, 100%);
}

nav a > span {
  font-weight: 700;
  pointer-events: none;
}

.home-container {
  background-image: url("./images/home/background-home-desktop.jpg");
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 11.5%;
  padding-right: 11.5%;
  padding-bottom: 14.5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.home-content h2 {
  color: hsl(231, 79%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.5px;
  line-height: 1;
  margin: 0;
}

.home-content h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Bellefair", sans-serif;
  font-size: 150px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 45px;
  line-height: 1;
}

.home-content p {
  color: hsl(231, 77%, 90%);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.home-btn {
  width: 274px;
  height: 274px;
  border: none;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  font-family: "Bellefair", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  box-shadow: 0 0 0 0px hsl(0, 0%, 59%, 0);
  transition: box-shadow 0.6s;
  cursor: pointer;
}

.home-btn:hover {
  box-shadow: 0 0 3px 80px hsl(0, 0%, 59%, 0.3);
}

.dest-container {
  background-image: url("./images/destination/background-destination-desktop.jpg");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 11.5%;
  padding-right: 11.5%;
  padding-bottom: 13vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.dest-title h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.5px;
  color: hsl(0, 0%, 100%);
  margin-top: 176px; /* This needs to be changed */
  margin-bottom: 64px;
}

.dest-title h2 > span {
  font-weight: 700;
  color: hsl(0, 0%, 25%);
  margin-right: 28px;
}

.dest-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.dest-img {
  width: 445px;
  height: 445px;
  margin-right: 155px;
  margin-left: auto;
}

.dest-text-content {
  display: flex;
  flex-direction: column;
  width: 445px;
  color: hsl(0, 0%, 100%);
  text-align: start;
}

.dest-tabs {
  display: flex;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  list-style: none;
  letter-spacing: 2.7px;
  margin: 0;
  padding: 0;
}

.dest-tabs li {
  margin-right: 35px;
}

.dest-tabs li > a {
  text-decoration: none;
  color: hsl(231, 77%, 90%);
  padding-bottom: 12px;
  border-top: 3px solid hsl(0, 0%, 100%, 0);
  border-bottom: 3px solid hsl(0, 0%, 100%, 0);
  transition: border-bottom 0.2s, color 0.2s;
}

.dest-tabs li > a:hover {
  border-bottom: 3px solid hsl(0, 0%, 59%);
}

.dest-tabs li > a.active {
  color: hsl(0, 0%, 100%);
  border-bottom: 3px solid hsl(0, 0%, 100%);
}

.dest-text-content h1 {
  font-family: "Bellefair", sans-serif;
  font-size: 100px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 15px;
}

.dest-text-content p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: hsl(231, 77%, 90%);
  margin-top: 0;
  margin-bottom: 54px;
}

.dest-text-content hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: hsl(231, 15%, 26%);
  border: none;
  z-index: 1;
}

.dest-text-content div {
  display: flex;
  justify-content: flex-start;
}

.dest-distance,
.dest-travel-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dest-distance {
  margin-right: 80px;
}

.dest-distance p,
.dest-travel-time p {
  margin-top: 28px;
  margin-bottom: 12px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.4px;
}

.dest-distance h2,
.dest-travel-time h2 {
  margin: 0;
  font-family: "Bellefair", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

/* Small devices such as phones (less than 576px) */
@media (max-width: 575px) {
}

/* Medium devices such as tablets (less than 992px) */
@media (max-width: 991px) {
}

/* Large devices such as laptops (less than 1201px) */
@media (max-width: 1200px) {
  .home-container {
    padding-left: 9%;
    padding-right: 9%;
  }

  .home-content {
    width: 420px;
  }

  .home-content h2 {
    font-size: 26px;
  }

  .home-content h1 {
    font-size: 120px;
  }

  .home-btn {
    width: 250px;
    height: 250px;
  }

  .home-btn:hover {
    box-shadow: 0 0 3px 65px hsl(0, 0%, 59%, 0.3);
  }
}

/* Default: Larger laptops and desktops (1201px to 1535px) */

/* Largest laptops and desktops (1536px and up) */
@media (min-width: 1536px) {
  /* .home-container {
    padding-left: 14%;
    padding-right: 14%;
  } */
}